# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

conformance-report-*

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo

# dependencies
node_modules

# dotenv environment variables file
.env
!.env.example
config.ini

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data
.claude/worktrees
.claude/settings.local.json
.data
.itw-conformance-tool

vitest.config.*.timestamp*
