HOST=0.0.0.0
PORT=3000

# ITW Conformance Tool orchestrated variables
ITW_CT_DATA_DIR=~/.itw-conformance-tool
ITW_CT_LOG_LEVEL=info
ITW_CT_ISSUER_PORT=3000
ITW_CT_ISSUER_CREDENTIAL_TYPES=pid,mdl,badge,eaa
ITW_CT_RP_PORT=8080
