ITW_CT_CONFIG_FILE=config.ini

# ITW Conformance Tool orchestrated variables
ITW_CT_DATA_DIR=~/.itw-conformance-tool
ITW_CT_LOG_LEVEL=info
ITW_CT_HTTPS=false
ITW_CT_ISSUER_PORT=3000
ITW_CT_ISSUER_CREDENTIAL_TYPES=pid,mdl,badge,eaa
ITW_CT_RP_PORT=8080
