{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "NODE_TLS_REJECT_UNAUTHORIZED": 0,
    "APPINSIGHTS_INSTRUMENTATIONKEY": "dummy",
    "SLOT_TASK_HUBNAME": "FnAzureApiSlotTaskName",
    "NODE_ENV": "development",
    "COSMOSDB_ENDPOINT": "",
    "COSMOSDB_KEY": "",
    "COSMOSDB_DATABASE_NAME": "",
    "SIGNER_JWK_LIST_BASE64": "",
    "BASE_URL": "http://localhost:7071",
    "IACA_X509_BASE64": ""
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
